__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
data/*.parquet
data/*.json
spark-warehouse/
metastore_db/
derby.log
.venv/
*.egg-info/
_lakehouse/
notebooks/*.ipynb
notebooks-spark/*.ipynb
!notebooks-spark/01_delta_basics.ipynb
!notebooks-spark/02_optimize_zorder.ipynb
!notebooks-spark/03_time_travel.ipynb
!notebooks-spark/04_medallion.ipynb
